<!-- Components bootstrap Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration scan="false" debug="true">

    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%mdc%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.mchange" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
